$upload-btn-color = #D8D8D8;
$upload-btn-bgc = #f8f8f8;
$upload-btn-active-bgc = rgba(0, 0, 0, .04);
$upload-btn-box-shadow = 0 0 6px 2px rgba(0, 0, 0, .08);
$upload-btn-border-color = #e5e5e5;
$upload-file-bgc = #fff;
$upload-file-remove-color = #fff;
$upload-file-remove-bgc = rgba(0, 0, 0, .4);
$upload-file-state-bgc = rgba(37, 38, 45, .4);
$upload-file-success-color = #fc9153;
$upload-file-error-color = #f43530;
$upload-file-status-bgc = #fff;
$upload-file-progress-color = #fff;
